<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar abrigos</title>
    <link rel="stylesheet" href="/css/cadastro.css">
</head>

<body>
    <%-include('./partials/header')%>
        <main>
            <h2>Cadastro</h2>
            <form action="/login/cadastro" method="POST" enctype="multipart/form-data">
                <div class="divpai">
                    <br></br>
                    <div class="divfilho">
                        <label for="email">Email:</label>
                        <input type="email" name="email" placeholder="  Ex: abrigo@gmail.com">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["email"].msg %> </b>
                        <% } %> 
                    </div>

                    <div class="divfilho">
                        <label for="nome">Nome:</label>
                        <input type="text" name="nome" placeholder="">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["nome"].msg %> </b>
                        <% } %>
                    </div>

                    <div class="divfilho">
                        <label for="sobrenome">Sobrenome:</label>
                        <input type="text" name="sobrenome" placeholder=" ">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["sobrenome"].msg %> </b>
                        <% } %>
                    </div>

                    <div class="divfilho">
                        <label for="numero">Telefone:</label>
                        <input type="number" name="fixo" placeholder="  Ex:(xx)xxxxx-xxxx">
                    </div>
                    <div class="divfilho">
                        <label for="celular">Celular:</label>
                        <input type="number" name="celular" placeholder="  Ex:(xx)xxxxx-xxxx">
                    </div>

                    <div class="divfilho">
                        <label for="numero">Contato do abrigo:</label>
                        <input type="number" name="contato" placeholder="  Ex:(xx)xxxxx-xxxx">                   
                    </div>

                    <div class="divfilho">
                        <label for="cep">CEP:</label>
                        <input type="number" name="cep" placeholder="  Ex: Rua Felipe dos Santos">
                    </div>

                    <div class="divfilho">
                        <label for="cidade">Cidade:</label>
                        <input type="text" name="cidade" placeholder="  Ex: Rua Felipe dos Santos">
                    </div>


                    <div class="divfilho">
                        <label for="rua">Rua:</label>
                        <input type="text" name="rua" placeholder="  Ex: Rua Felipe dos Santos">
                    </div>

                    <div class="divfilho">
                        <label for="bairro">Bairro:</label>
                        <input type="text" name="bairro" placeholder="  Ex: Jardim Guanabara">
                    </div>

                    <div class="divfilho">
                        <label for="numero">Número:</label>
                        <input type="number" name="numero" placeholder="">
                    </div>

                    <div class="divfilho">
                        <label for="complemento">Complemento:</label>
                        <input type="text" name="complemento" placeholder="">
                    </div>

                    <div class="divfilho">
                        <label for="Nome do abrigo">Nome do abrigo:</label>
                        <input type="text" name="nomeAbrigo" placeholder="  Ex: Lar dos vira-latas">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["nomeAbrigo"].msg %> </b>
                        <% } %>
                    </div>


                    <div class="divfilho">
                        <label for="email">Email do abrigo:</label>
                        <input type="email" name="emailAbrigo" placeholder="  Ex: abrigo@gmail.com">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["emailAbrigo"].msg %> </b>
                        <% } %>               
                    </div>

                    <div class="divfilho">
                        <label for="Instagram">Instagram:</label>
                        <input type="text" name="instagram" placeholder="  Ex: Lar dos vira-latas">
                    </div>


                    <div class="divfilho">
                        <label for="Facebook">Facebook:</label>
                        <input type="text" name="facebook" placeholder="  Ex: Lar dos vira-latas">
                    </div>

                    <div class="divfilho">
                        <label for="Whatsapp">Whatsapp:</label>
                        <input type="text" name="whatsapp" placeholder="  Ex: Lar dos vira-latas">
                    </div>

                    <div class="divfilho">
                        <label for="senha">Senha:</label>
                        <input type="password" name="senha" placeholder="  Ex: abrigo123">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["senha"].msg %> </b>
                        <% } %>
                    </div>

                    <div class="divfilho">
                        <label for="senha">Confirme sua senha:</label>
                        <input type="password" name="confirmarSenha" placeholder="  Ex: abrigo123">
                        <% if(typeof erros !== 'undefined'){ %>
                            <b><%= erros["confirmarSenha"].msg %> </b>
                        <% } %>
                    </div>
                    <div>
                        <label for="sobre">Fale sobre você:</label>
                        <textarea name="sobre" id="sobre" cols="10" rows="10"
                            placeholder="Ex: Data de criação do abrigo, estrutura do abrigo..."></textarea>
                    </div>

                    <div class="divfilho">
                        <label for="suafoto">Envie sua foto:</label>
                        <input type="file" name="suafoto" id="suafoto" accept="*/image">                    
                    </div>
                    <div class="divfilho">
                        <label for="sualogo">Envie sua logo:</label>
                        <input type="file" name="sualogo" id="sualogo" accept="*/image">
                    </div>

                    <div id="botao">
                        <button id="enviar" type="submit">Enviar!</button>
                    </div>
                </div>
            </form>
        </main>
        <%-include('./partials/footer')%>
</body>

</html>